body {

    text-align: center;
  }
  /* main{


  border: 1px solid black;
  float: left;
  padding: 50px;
  padding-bottom: 50px;

} */
h1{
  font-weight: bold;
font-family: 'Indie Flower', cursive;
font-size:xx-large;
}
select{
  margin: 20px;
  padding: 5px;
}
h2 , p{
font-weight: bold;
font-family: 'Indie Flower', cursive;
}

img {
  width: 200px;
  height: 200px;
}

  
  footer {
    clear: both; 
       width: 100%;
    height: 50px;
position: relative;
margin-top: 253px;
margin-bottom: -500px;

  }
  